

*,:after,:before{
	box-sizing:border-box
}
a{
	color:inherit;text-decoration:none
}
.bgsi{
	background-repeat: no-repeat;
	background-size: cover;
}

.login-wrapsi{
	width:100%;
	margin:auto;
	margin-top: 100px;
	margin-bottom: 100px;
	max-width:525px;
	min-height:525px;
	position:relative;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-htmlsi{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background-color: white;
}

.login-htmlsi .tabsi{
	font-size:22px;
	margin-left: 15px;
	margin-right:15px;
	padding:5px; 
	display:inline-block;
	text-transform:uppercase;
} 
.login-formsi .groupsi{
	margin-bottom:15px;
}
.login-formsi .groupsi .labelsi{
	width:100%;
	color:#fff;
	display:block;
	color:#aaa;
	font-size:12px;
	text-transform:uppercase;
}
.login-formsi .groupsi .buttonsi{
	margin:0 15px 0px 145px;
	padding:15px 15px;
	color:#fff;
	background-color:black;
	display:block;
	text-transform:uppercase;
}
.login-formsi .groupsi .inputsi{
	padding:15px 20px;
	background:rgba(255,255,255,.1);
	width:100%;
	color:black;
	display:block;
}
.hrsi{
	height:2px;
	
	background:rgba(255,255,255,.2);
}
.foot-lnksi{
	text-align:center;
	padding: 0px;
}