.sctpl {
  margin-left: 80px;
}

.searchbarpl {
  width: initial;
}
       
.buttonpl {
  background-color:black;
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer; 
}
  
.rowpl {
  margin: 0 -5px;
}

.rowpl:after {
  content: "";
  display: table;
  clear: both;
}

 /* Float four columns side by side */
 .columnpl {
  float: left;
  width: 25%; 
  padding: 10px 10px;
}

.cardpl {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

@media screen and (max-width: 1325px) and (min-width:1003px){
  .columnpl {
    width: 33.3%;
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1002px) and (min-width:672px){
  .columnpl {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Responsive columns */
@media screen and (max-width: 673px) {
  .columnpl {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}




  
  